.container {
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    align-items: center;
    /* border: 1px solid red; */
}

.navbar li:nth-child(1) {
    /* width: 60%;
    border: 1px solid green; */
}

.Link {
    width: 60%;
}